{% extends "layout.html" %}
{% block content %}

    <h1>products page</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        add products
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">product details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/add_product" method="post">
                        <div class="mb-3">
                            <label for="product_name" class="form-label">product name</label>
                            <input name="product_name" type="text" class="form-control" id="name" name="'product_name">

                        </div>
                        <div class="mb-3">
                            <label for="buying_price" class="form-label">buying price</label>
                            <input name="buying_price" type="number" class="form-control" name="buying_price">
                        </div>
                        <div class="mb-3 ">
                            <label for="selling_price" class="form-label">selling price</label>
                            <input name="selling_price" type="number" class="form-control" name="selling_price">
                        </div>
                        <div class="mb-3">
                            <label for="stock_quantity" class="form-label">stock_quantity</label>
                            <input name="stock_quantity" type="number" class="form-control" name="stock_quantity">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>


    <!-- <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">product name</th>
                <th scope="col">buying_price</th>
                <th scope="col">selling_price</th>
                <th scope="col">stock_quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr {% for i in prod %}>

                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
            </tr {% endfor %}>
        </tbody>
    </table> -->


    <table id="example" class="table table-striped" style="width:100%">
        <tr>
            <th scope="col">id</th>
            <th scope="col">product name</th>
            <th scope="col">buying_price</th>
            <th scope="col">selling_price</th>
            <th scope="col">stock_quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr {% for i in prod %}>

            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
        </tr {% endfor %}>
    </tbody>
        <tfoot>
         <tr>
            <th scope="col">id</th>
            <th scope="col">product name</th>
            <th scope="col">buying_price</th>
            <th scope="col">selling_price</th>
            <th scope="col">stock_quantity</th>
        </tr>
        </tfoot>
    </table>
    {% endblock %}

  