{% extends "layout.html" %}
{% block content %}

     

    <form action="/register" method="post">
        <div class="mb-3">
            <label for="full name" class="form-label" name="full_name">full name</label>
            <input name="full_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" name="email">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" name="password">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">register</button>
    </form>

    {% endblock %}

   