{% extends "layout.html" %}
{% block content %}
<h1>sales page</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  make sales
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">sales details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/make_sale" method="post">
          <select name="product_id">
            {%for i in prods%}
            <option value="{{i[0]}}">{{i[1]}}</option>
            {%endfor%}
          </select><br>
          <label for="">Quantity</label><br>
          <input type="number" name="quantity"><br>
          <button type="submit" class="btn-secondary">save</button>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<table id="example" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th scope="col">sales_id</th>
      <th scope="col">product_id</th>
      <th scope="col">quantity</th>
      <th scope="col">created_at</th>
    </tr>
  </thead>
  <tbody>
    <tr {% for i in sal %}>

      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
    </tr>{% endfor %}
    </tr>
    <tfoot>
      <tr>
         <th scope="col">sales_id/th>
         <th scope="col">product_id</th>
         <th scope="col">quantity</th>
         <th scope="col">created_at</th>
         
     </tr>
     </tfoot>
</table>
{% endblock %}